
*.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/ProjectEvaluation/srcbackalmoxarifadoaspcore.metadata.v7.bin
src/srcBackAlmoxarifadoASPCore/.vs/ProjectEvaluation/srcbackalmoxarifadoaspcore.projects.v7.bin
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/DesignTimeBuild/.dtbcache.v2
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/v17/.futdcache.v2
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/v17/.suo
