
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/Debug/net6.0/AlmoxarifadoDomain.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/Debug/net6.0/AlmoxarifadoDomain.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.assets.cache
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/fc980201-3717-49c0-9703-1d3d3d2b6328.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/d5c8c00f-07d6-4264-a12a-1d30ea8dfa57.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/d0ad9663-c80d-403e-899e-ae70ad1199e4.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/a2b150d8-2f07-44a7-8254-385a42e6228b.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/8f537e12-4a11-4472-ad53-696497068e13.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/DesignTimeBuild/.dtbcache.v2
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/0eb543de-97b6-4d43-8bfe-db9a7f330aaa.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/17e37236-5e5b-4da4-8cd3-3a13d98a9a80.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/42955517-281e-4808-805f-92eff2d1a087.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/834e9b60-8ef6-409c-a3b9-c3826f5fd44b.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/cfe7b30a-0137-4447-9ebb-6b2e3a9387eb.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/d12d2ad4-9768-4dde-a731-547e1192117e.vsidx
